<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="myMoment">
        <meta name="keywords" content="myMoment">
        <meta name="description" content="myMoment">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/loginStyles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap">

        <title>myMoment Login</title>
    </head>
    <body>
    <div class="centreOnScreen">
        <div class="logo">my<span class="boldMoment">Moment</span></div>
        <form class="loginForm" method="post" th:action="'/signup'" th:object="${user}">
            <h1>Sign up</h1>
            <div class="textbox">
                <i class="material-icons">person</i>
                <input type="text" placeholder="Username" name="username" th:field="*{username}" th:errorclass="fieldError"/>
            </div>
            <div class="textbox">
                <i class="material-icons">mail</i>
                <input type="email" placeholder="Email" name="email" th:field="*{email}" th:errorclass="fieldError"/>
            </div>
            <div class="textbox">
                <i class="material-icons">lock</i>
                <input type="password" placeholder="Password" name="password" th:field="*{inputPassword}"
                       th:errorclass="fieldError"/>
            </div>
            <div class="textbox">
                <i class="material-icons">lock</i>
                <input type="password" placeholder="Confirm Password" name="password" th:field="*{confirmPassword}"
                       th:errorclass="fieldError"/>
            </div>

            <p th:if="${#fields.hasErrors('username')}">Username must be between 3-20 characters</p>
            <p th:if="${#fields.hasErrors('email')}">Email must be a valid</p>
            <p th:if="${#fields.hasErrors('inputPassword')}">Password must be between 6-20 characters</p>
            <p th:if="${#fields.hasErrors('confirmPassword')}">Passwords must be equal</p>
            <p th:if="${#fields.hasErrors('global')}">Username/email is already in use</p>

            <input class="loginButton" type="submit" name="" value="Sign up"/>
            <div class="otherLogin">
                <a href=""><i class="fa fa-facebook"></i> Sign up with Facebook</a>
            </div>
            <div class="otherLogin">
                <a href=""><i class="fa fa-google"></i> Sign up with Google</a>
            </div>
        </form>
        <div class="createAccount">
            <a href="/login">Already a member?<br><span class="createOrAlreadyMember">Sign in!</span></a>
        </div>
    </div>
    </body>
</html>
